<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Agenda_init() hook (in hooks/Agenda.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Agenda-Responsavel-<%%VALUE(Id)%%>" class="Agenda-Responsavel"><%%SELECT%%><%%VALUE(Responsavel)%%><%%ENDSELECT%%></td>
		<td id="Agenda-Data-<%%VALUE(Id)%%>" class="Agenda-Data"><%%SELECT%%><%%VALUE(Data)%%><%%ENDSELECT%%></td>
		<td id="Agenda-Hora-<%%VALUE(Id)%%>" class="Agenda-Hora"><%%SELECT%%><%%VALUE(Hora)%%><%%ENDSELECT%%></td>
		<td id="Agenda-Evento-<%%VALUE(Id)%%>" class="Agenda-Evento"><%%SELECT%%><%%VALUE(Evento)%%><%%ENDSELECT%%></td>
		<td id="Agenda-Local-<%%VALUE(Id)%%>" class="Agenda-Local"><%%SELECT%%><img src="<%%GOOGLEMAPTHUMB(Local)%%>" style="max-width: 50px; max-height: 50px; " ><%%ENDSELECT%%></td>
