<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Bairro_init() hook (in hooks/Bairro.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Bairro-Nome-<%%VALUE(Id)%%>" class="Bairro-Nome"><%%SELECT%%><%%VALUE(Nome)%%><%%ENDSELECT%%></td>
		<td id="Bairro-Cidade-<%%VALUE(Id)%%>" class="Bairro-Cidade"><%%SELECT%%><%%VALUE(Cidade)%%><%%ENDSELECT%%></td>
